/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #fedc2a ,
    #dd5789 ,
    #7a2c9e 
  );
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container {
  color: white;
  font-family: sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-weight: bold;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(225, 225, 225, 0.25);
  backdrop-filter: blur( 4px );
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  font-size: 1.1rem;
  width: 600px;
}
input[type="text"] {
  color: white;
}
input:focus {
  outline: none;
}

button {
  background-color: white;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all ease-in 0.1s;
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.18);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 4px );
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
